/* Add application styles & imports to this file! */
.mgy-branding {
  background-color: rgba(255,192,203) !important;
}
.mgy-header-font{
  font-weight: bold !important;
  font-family: 'QuiapoFree'
}

@font-face {
    font-family: 'QuiapoFree';
    src: url('/fonts/Quiapo_Free.ttf') format('truetype');
}